body {
    background: rgb(102, 201, 9);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;    
    margin: auto;
    box-shadow: 4px 4px 15px black;
}

div {
    text-align: center;
    padding: 10px;
}

#resposta {
    width: 400px;
    height: 400px;
}

img {
    width: 500px;
    border-radius: 100px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

